@charset "utf-8";
/* CSS Document */

#rcorners1 {
	border-radius: 25px;
	background: #FFFFFF;
	padding: 20px;
	width: 200px;
	height: 280px;
	margin:0 auto;
	border: 2px solid #000000;
}

#Instructions{
	position: absolute;
	float:left;
	width:30%;
	top: 220px;
    padding-left: 0px;
    text-align: left;
    font-size: 24px;
    left: 10px;

    font-family: helvetica; color: white;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1.0px;
	-webkit-text-stroke-color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

#container{width:100%;}

#UpperText {
	position: relative;
	border: 2px solid #02FF00;
	width: 100%;
	height:15%;
	top: 0%;
	border-radius: 10px;
}

#LowerText {
	position: relative;
	border: 2px solid #D40003;
	width: 100%;
	height: 50%;
	bottom: -37%;
	border-radius: 10px;
}

#TitleForm
{
	position: relative;
	width: 93%;
	height: 85%;
	top: 0%;
	text-align: center;
	border:none;
	resize: none;
	overflow:hidden;
}

#DescriptionForm
{
	position: relative;
	width: 93%;
	height: 95%;
	top: 0%;
	text-align: center;
	border:none;
	resize: none;
	overflow:hidden;
}

#TitleForm:focus {
  outline: 0px;
}
#DescriptionForm:focus {
  outline: 0px;
}

#CardBook{
	background: #FF5053;
	border-radius: 25px;
	width: 100%;
	height: 300px;
	border: 2px solid #000000;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 0px;
  position: relative;
  top: 10px;
  margin: auto;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.footer {

  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-family: helvetica; color: white;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: black;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale

}

#Background {
  border: 2px solid black;
  padding: 25px;
  background: url(Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

 #FontTitle {
    font-family: helvetica; color: white;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
 }
 

#PageNumber {
    font-family: helvetica; color: white;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-strke-color: black;
	font-size: 25px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
 }
 
 #button {
    font-family: helvetica; color: black;
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 00px;
	-webkit-text-stroke-color: black;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 20px;
    background-color: #d400038c;
    border: 1px solid black;
 }

  #SaveCards {
    font-family: helvetica; color: black;
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 00px;
	-webkit-text-stroke-color: black;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 20px;
    background-color: #d400038c;
    border: 1px solid black;
 }

 #Next
{
    font-family: helvetica; color: black;
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 00px;
	-webkit-text-stroke-color: black;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 20px;
    background-color: #d400038c;
    border: 1px solid black;
}

 #Prev
{
	font-family: helvetica; color: black;
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 00px;
	-webkit-text-stroke-color: black;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 20px;
    background-color: #d400038c;
    border: 1px solid black;
}